{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12">
    <nav clsss="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <p>This is the home page.</p>
    {% if page_content|default() %}
        <p>{{ page_content }}</p>
    {% endif %}
</div>

<div class="col-12">
    {% if context|default() %}

        {% if context == "coordinator" %}
            {% include "fragment/coordinator.html.twig" %}
        {% endif %}

        {% if context == "requester" %}
            {% include "fragment/requester.html.twig" %}
        {% endif %}

    {% else %}
        {% include "fragment/user.html.twig" %}
    {% endif %}
</div>
{% endblock %}
