{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12">
    <nav clsss="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if context|default() %}
                <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a></li>
                {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
                    <li class="breadcrumb-item active" aria-current="page">{{ context|capitalize }}</li>
                {% endif %}
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            {% endif %}
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}

    {% if page_content|default() %}
    <div class="col-12">
        <p>{{ page_content }}</p>
    </div>
    {% endif %}

    <div class="col-12">
        {% if context|default() %}
            {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
                {% include 'fragment/' ~ context ~ '.html.twig' %}
            {% endif %}
        {% else %}
            {% include "fragment/public.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
