{% extends 'base.html.twig' %}

{% block page %}
<main id="main" class="d-flex p-4">
    <div class="container-fluid px-0">
        <section class="row g-0">

            {% block breadcrumbs %}
            <!-- There are no breadcrumbs on this template. -->
            {% endblock %}

            <div class="col-12">
                <div class="row region region-top-header">
                    <div class="col-12">
                        <h1 class="title border-bottom pb-3 mb-4">{{ page_title }}</h1>
                    </div>
                </div>
            </div>

            <a id="main-content" tabindex="-1"></a>

            <div class="col-12" role="main" style="min-height: 430px;">
                {% block content %}
                {% endblock %}
            </div>

        </section>
    </div>
</main>
{% endblock %}

{% block scripts %}
<!-- no scripts -->
{% endblock %}
