{% extends 'base.html.twig' %}

{% block page %}
<main id="main" class="d-flex p-4">
    <div class="container-fluid px-0">
        <div class="row g-0">

            <div class="col-12">
                <nav clsss="row" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>

            <div class="col-12">
                <section class="row region region-top-header">
                    <div class="block-page-title-block">
                        <div class="content">
                            <h1 class="title border-bottom pb-3 mb-4">Transfer Credit Evaluation</h1>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-12">
                <div class="main-content w-100" id="content" role="main">
                    <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        <div class="content">
                            
                            <div class="row">

                                <!-- Alerts -->
                                <div id="browser"></div>
                                <div id="features"></div>
                                <div id="messages">
                                {% for label, messages in app.flashes(['danger', 'info', 'success', 'warning']) %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                </div>

                                {% block content %}
                                <div style="min-height: 500px;">
                                <p class="mb-4"><em>Select a role.</em></p>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center px-3" style="width: 34%;">Role</th>
                                            <th class="px-3" style="width: 66%;">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center px-3 py-4 fs-6"><a href="coordinator">Coordinator</a></td>
                                            <td class="px-3 py-4 fs-6">...</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center px-3 py-4 fs-6"><a href="requester">Requester</a></td>
                                            <td class="px-3 py-4 fs-6">...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                {% endblock %}

                        </div>
                    </section>
                </div>
            </div>
            <!-- end of tce3 examples -->
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<!-- no scripts -->
{% endblock %}