<div id="evaluation-details" class="card mb-3">
    <h2 class="card-header h5">
        Details
    </h2>
    <div class="card-body">
        <div class="row">

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput1" class="form-label mb-0">Required for Admission?</label>
                <div class="font-monospace" id="recordInput1">Yes</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput2" class="form-label mb-0">Current Phase</label>
                <div class="font-monospace" id="recordInput1">Complete</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput3" class="form-label mb-0">Date Submitted</label>
                <div class="font-monospace" id="recordInput1">2023-09-01 12:30:59</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput4" class="form-label mb-0">Latest Update</label>
                <div class="font-monospace" id="recordInput1">2023-09-05 18:24:02</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput3" class="form-label mb-0">Requester</label>
                <div class="font-monospace" id="recordInput1">
                    George Burdell<br>
                    987654321<br>
                    gburdell@fake.gatech.edu<br>
                    Student
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput4" class="form-label mb-0">Assignee</label>
                <div class="font-monospace" id="recordInput1">
                    Crystal Elster<br>
                    celster3</div>
            </div>

            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput5" class="form-label mb-0">Institution</label>
                <div class="font-monospace" id="recordInput5">
                    University of West Georgia<br>
                    1601 Maple St., Carrollton, GA 30118-0001<br>
                    United States<br>
                    [111887]
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput3" class="form-label mb-0">Evaluation Course</label>
                <div class="font-monospace" id="recordInput1">
                    TEST 9000<br>
                    Introduction to Transfer Credit Evaluation<br>
                    Summer 2023<br>
                    (Semester Basis)<br>
                    3 credit hours
                </div>
                <div class="mt-3">
                    <a href="#" target="_blank"><i class="fa-regular fa-file fa-fw me-2"></i>Syllabus</a><br>
                    <a href="#" target="_blank"><i class="fa-regular fa-file fa-fw me-2"></i>Description</a>
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput4" class="form-label mb-0">Evaluation Lab</label>
                <div class="font-monospace" id="recordInput1">
                    TEST 9001<br>
                    Transfer Lab<br>
                    Fall 2023<br>
                    (Quarter Basis)<br>
                    12 credit hours
                </div>
                <div class="mt-3">
                    <a href="#" target="_blank"><i class="fa-regular fa-file fa-fw me-2"></i>Syllabus</a><br>
                    <a href="#" target="_blank"><i class="fa-regular fa-file fa-fw me-2"></i>Description</a>
                </div>
            </div>

            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput5" class="form-label mb-0">Final Equiv(s)</label>
                <div class="font-monospace" id="recordInput5">
                    BIOS 1107, 4 credit hours<br>
                    Not Policy
                </div>
            </div>

            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput5" class="form-label mb-0">Draft Equiv(s)</label>
                <div class="font-monospace" id="recordInput5">
                    BIOS 1107, 3 credit hours -AND-<br>
                    BIOS 1107L, 1 credit horus<br>
                    Policy
                </div>
            </div>

            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput5" class="form-label mb-2">Tags</label>
                <div class="font-monospace">
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>spot-articulated
                </div>
                <div class="font-monospace">
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>dept-to-dept
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- #/evaluation-details -->