<div id="evaluation-files" class="card mb-3">
    <h2 class="card-header h5">
        Supplemental Files
    </h2>
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column mb-4">
                <label for="supplementalFiles" class="form-label">Files</label>
                <div class="mb-0" id="supplementalFiles">
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-pdf fa-fw me-2"></i>Some file if pdf</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-word fa-fw me-2"></i>Some file if docx or doc</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-excel fa-fw me-2"></i>Some file if xls or xlsx</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-powerpoint fa-fw me-2"></i>Some file if ppt or pptx</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-image fa-fw me-2"></i>Some file if png, jpg, jpeg, or gif</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-code fa-fw me-2"></i>Some file if html or xml</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file-lines fa-fw me-2"></i>Some file if txt or csv</a></div>
                    <div><a href="#" target="_blank"><i class="fa-regular fa-file fa-fw me-2"></i>Some file otherwise</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/evaluation-files -->