{% if id is defined and context is defined and files is defined %}
    {% if files.attachments|length > 0 %}
        <div id="attached-files" class="card mb-3">
            <h2 class="card-header h5">
                Attached Files
            </h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 d-flex flex-column mb-4">
                        <label for="supplementalFiles" class="form-label">Files</label>
                        <div class="mb-0" id="supplementalFiles">
                            {% for attachment in files.attachments  %}

                                {% set icon = 'fa-file' %}
                                {% set target = '' %}
                                {% if attachment ends with 'pdf' %}
                                    {% set icon = 'fa-file-pdf' %}
                                    {% set target = ' target="_blank"' %}
                                {% elseif attachment ends with 'docx' or attachment ends with 'doc' %}
                                    {% set icon = 'fa-file-word' %}
                                {% elseif attachment ends with 'xlsx' or attachment ends with 'xls' %}
                                    {% set icon = 'fa-file-excel' %}
                                {% elseif attachment ends with 'pptx' or attachment ends with 'ppt' %}
                                    {% set icon = 'fa-file-powerpoint' %}
                                {% elseif attachment ends with 'png' or attachment ends with 'jpg' or attachment ends with 'jpeg' or attachment ends with 'gif' %}
                                    {% set icon = 'fa-file-image' %}
                                    {% set target = ' target="_blank"' %}
                                {% elseif attachment ends with 'html' or attachment ends with 'xml' %}
                                    {% set icon = 'fa-file-code' %}
                                {% elseif attachment ends with 'txt' or attachment ends with 'csv' %}
                                    {% set icon = 'fa-file-lines' %}
                                {% endif %}

                                {% set text = 'Attachment' %}
                                {% if loop.index > 1 %}
                                    {% set text = 'Attachment (' ~ loop.index ~ ')' %}
                                {% endif %}

                                <div>
                                    <a href="{{ url( context ~ '_file_download', { 'id':id|raw, 'subfolder':'attachments', 'filename':attachment|raw }) }}"{{ target }}>
                                        <i class="fa-regular {{ icon }} fa-fw me-2"></i>{{ text }}
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/attached-files -->
    {% endif %}
{% endif %}
