<div id="evaluation-notes" class="card mb-3">
    <h2 class="card-header h5">
        Notes
    </h2>
    <div class="card-body">
        <h3 class="fs-6">
            <span class="fw-bold">2023-09-01 12:30:59</span>
            <span class="fw-normal mx-2">-</span>
            <span class="fw-normal">George Burdell &lt;gburdell&gt;</span>
            <span class="fw-normal text-muted float-end"><i class="fa-regular fa-eye"></i></span>
        </h3>
        <p class="font-monospace mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ante vestibulum, aliquet nisi at, tempor quam. Proin eget nisl molestie, luctus velit eget, eleifend diam</p>
    </div>
    <div class="card-body last">
        <h3 class="fs-6">
            <span class="fw-bold">2023-09-01 12:31:01</span>
            <span class="fw-normal mx-2">-</span>
            <span class="fw-normal">George Burdell &lt;gburdell&gt;</span>
            <span class="fw-normal text-muted float-end"><i class="fa-regular fa-eye-slash"></i></span>
        </h3>
        <p class="font-monospace mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ante vestibulum, aliquet nisi at, tempor quam. Proin eget nisl molestie, luctus velit eget, eleifend diam</p>
    </div>
</div>
<!-- #/evaluation-notes -->
