<div id="resubmit-notice" class="card border-warning mb-3">
    <h2 class="card-header bg-warning border-warning h5">
        Important
    </h2>
    <div class="card-body">
        <p class="mb-0">To return your evaluation to the Registar's workflow, you must use the <strong>Submit</strong> option after you have uploaded your supplemental files and added your notes.</p>
    </div>
</div>
<!-- #/resubmit-notice -->