{% if evaluation.trails is not empty %}
<div id="evaluation-trails" class="card mb-3">
    <h2 class="card-header h5">
        Trail Log
    </h2>
    {% for trail in evaluation.trails %}
    <div class="card-body {% if loop.last %}last{% endif %}">
        <h3 class="fs-6 fw-bold">{{ trail.created | date('Y-m-d H:i:s') }}</h3>
        {% if context == "requester" %}
        <p class="font-monospace mb-0">{{ trail.bodyAnon }}</p>
        {% else %}
        <p class="font-monospace mb-0">{{ trail.body }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<!-- #/evaluation-trails -->
{% endif %}
