
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###
/data/csv/uploads/Affiliation/*.csv
/data/csv/uploads/Course/*.csv
/data/csv/uploads/Department/*.csv
/data/csv/uploads/Evaluation/*.csv
/data/csv/uploads/Institution/*.csv
/data/csv/uploads/Note/*.csv
/data/csv/uploads/Syllabus/*.csv
/data/csv/uploads/Trail/*.csv
/data/csv/uploads/User/*.csv
!/data/csv/uploads/User/starter1.csv

/data/sql/backups/*.sql

/data/files-prep/csv/AttachedFile/*.csv
/data/files-prep/csv/Document/*.csv
/data/files-prep/csv/Syllabus/*.csv
/data/files-prep/csv/LabDocument/*.csv
/data/files-prep/csv/LabSyllabus/*.csv

/data/files-prep/in-order/files/attachments/*
!/data/files-prep/in-order/files/attachments/.gitkeep
/data/files-prep/in-order/files/course_document/*
!/data/files-prep/in-order/files/course_document/.gitkeep
/data/files-prep/in-order/files/course_syllabus/*
!/data/files-prep/in-order/files/course_syllabus/.gitkeep
/data/files-prep/in-order/files/lab_document/*
!/data/files-prep/in-order/files/lab_document/.gitkeep
/data/files-prep/in-order/files/lab_syallbus/*
!/data/files-prep/in-order/files/lab_syallbus/.gitkeep

/data/files-prep/out-of-order/documents/*
!/data/files-prep/out-of-order/documents/.gitkeep
/data/files-prep/out-of-order/lab_documents/*
!/data/files-prep/out-of-order/lab_documents/.gitkeep
/data/files-prep/out-of-order/lab_syllabi/*
!/data/files-prep/out-of-order/lab_syllabi/.gitkeep
/data/files-prep/out-of-order/supplemental/*
!/data/files-prep/out-of-order/supplemental/.gitkeep
/data/files-prep/out-of-order/syllabi/*
!/data/files-prep/out-of-order/syllabi/.gitkeep

# Exlude uploaded files
/files/

# Exclude lock file
composer.lock
symfony.lock
