<div class="row content">
    <!-- Left side -->
    <div id="left-side" class="col-12 col-lg-3 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                Main Menu
            </h2>
            <div class="card-body">
                <p><a href="#"><i class="fa-solid fa-inbox fa-fw me-2"></i>Need My Attention</a></p>
                <p><a href="#"><i class="fa-solid fa-box-archive fa-fw me-2"></i>My Past Evaluations</a></p>
                <p class="mb-0"><a href="#"><i class="fa-solid fa-search fa-fw me-2"></i>GTID Lookup</a></p>
            </div>
        </div>
        <div class="card mb-3">
            <h2 class="card-header h5">
                More Options
            </h2>
            <div class="card-body">
                <p class="mb-0"><a href="#"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Courses</a></p>
                <p class="mb-0"><a href="#"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Departments</a></p>
                <p class="mb-0"><a href="#"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Universities</a></p>
            </div>
        </div>
    </div>
    <!-- /#left-side -->

    <!-- Right side -->
    <div id="right-side" class="col-12 col-lg-9 d-flex flex-column">
        <div class="card mb-3">
            <div class="card-body">
                {% set role_description = "An assignee is a faculty or staff member responsible for articulating equivalencies for the transfer courses sent to them." %}
                <p><span class="fw-bold me-2">Role:</span>{{ context|capitalize }}</p>
                <p>{{ role_description }}</p>

                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>
    <!-- /#right-side -->
</div>
