<footer class="mt-auto">
    <div id="app-footer" class="container-fluid">
        <div class="row px-4">
            <div class="col-12 px-0 py-3 top-bordered">
                <p class="text-muted mb-0"><small>Web app last modified {{ app.request.server.get('LAST_MODIFIED') }}</small></p>
            </div>
        </div>
    </div>

    <div id="accent-footer" class="container-fluid" style="height: 1.5rem;"></div>

    <div id="org-footer" class="container-fluid px-5 py-3">
        <div class="row pt-1">

            <div class="col-sm-3">
                <address class="left-bordered">
                    <strong>Georgia Institute of Technology</strong><br>
                    North Avenue, Atlanta, GA 30332<br>
                    404.894.2000
                </address>
            </div>

            <div class="col-sm-3">
                <div class="left-bordered">
                    <p><a href="https://www.directory.gatech.edu/" target="_blank">Directory</a></p>
                    <p><a href="http://www.gatech.edu/emergency/" target="_blank">Emergency Information</a></p>
                    <p><a href="http://www.gatech.edu/legal/" target="_blank">Legal &amp; Privacy Information</a></p>
                    <p><a href="https://gbi.georgia.gov/human-trafficking-notice"target="_blank">Human Trafficking Notice</a></p>
                    <p><a href="https://titleix.gatech.edu/" target="_blank">Title IX/Sexual Misconduct</a></p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="left-bordered">
                    <p><a href="http://www.gatech.edu/accessibility/" target="_blank">Accessibility</a></p>
                    <p><a href="http://www.gatech.edu/accountability/" target="_blank">Accountablility</a></p>
                    <p><a href="https://www.gatech.edu/accreditation/" target="_blank">Accreditation</a></p>
                    <p><a href="http://www.careers.gatech.edu/" target="_blank">Employment</a></p>
                </div>
            </div>

            <div class="col-sm-3 align-self-center">
                <div id="accent-logo"></div>
                <p class="copyr">©&nbsp;Georgia Institute of Technology</p>
            </div>

        </div>
    </div>
</footer>
