<header id="navbar-main" class="navbar navbar-main border-bottom sticky-top flex-md-nowrap p-0">

    <a id="navbar-logo-area" aria-label="Navigate to the Georgia Tech main website"
        class="navbar-brand col-12 col-sm-4 col-md-3 col-xl-2 me-0 border-end border-bottom d-flex justify-content-start"
        href="https://www.gatech.edu">
        <div id="navbar-logo" class="w-100 mx-2"></div>
    </a>

    <div id="navbar-site-name" class="col-4 fs-4 my-0 ms-0 me-auto py-3 py-sm-2 my-md-3 px-4 text-nowrap">Registrar's Office</div>

    <div class="navbar-nav d-none d-md-block">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-4" href="https://www.gatech.edu">Service Status<i class="fa-solid fa-external-link ms-2"></i></a>
        </div>
    </div>

    <button class="navbar-toggler d-md-none me-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation" onclick="scrollToTop()">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>