<div class="card mb-3">
    <h2 class="card-header h5">
        About the Transfer Credit Evaluation Web App
    </h2>
    <div class="card-body">
        <p>This course evaluation request website is intended for current undergraduate Georgia Tech students and applicants that need courses evaluated for credit, initial transfer, or admissibility.</p>
    </div>
</div>