<div class="card mb-3">
    <h2 class="card-header h5">
        <i class="fa-solid fa-circle-info text-muted me-2"></i>About the Transfer Credit Evaluation Web App
    </h2>
    <div class="card-body">
        <p class="mb-0">This course evaluation request website is intended for current undergraduate Georgia Tech students and applicants that need courses evaluated for credit, initial transfer, or admissibility.</p>
    </div>
</div>

<div class="card mb-3">
    <h2 class="card-header h5">
        <i class="fa-solid fa-triangle-exclamation text-warning me-2"></i>Files Needed for Each Evaluation
    </h2>
    <div class="card-body">
        <p>Before submitting a request for an evaluation, you will need to have a course syllabus and/or description in electronic format (pdf, doc, docx, xls, xlsx, jpg, tif, or png only) for each course being evaluated. The course syllabus and description are the basis of your evaluation.</p>
        <p class="text-danger mb-0">You must have the syllabus from the actual course you completed, and it must include a weekly schedule with topics covered. If you do not have these documents the course will not be reviewed.</p>
    </div>
</div>

<div class="card mb-3">
    <h2 class="card-header h5">
        <i class="fa-solid fa-triangle-exclamation text-warning me-2"></i>First, Review the Existing Transfer Equivalencies
    </h2>
    <div class="card-body">
        <p>Before submitting a request for an evaluation, please review the transfer equivalency catalog. If your course(s) are listed with a GT equivalent or the equivalent is ET-NOGT, you do not need to submit the course for review.</p>
        <p class="mb-0"><a href="https://registrar.gatech.edu/info/transfer-credit-equivalency-tables" target="_blank">Transfer Equivalency Tables<i class="fa-solid fa-external-link fa-fw ms-2"></i></a></p>
    </div>
</div>

<div class="card mb-3">
    <h2 class="card-header h5">
        <i class="fa-solid fa-check text-success me-2"></i>Intended for Undergraduate Students and Undergraduate-Level Applicants
    </h2>
    <div class="card-body">
        <p class="mb-0">This course evaluation request website is intended for current undergraduate Georgia Tech students and applicants that need courses evaluated for credit, initial transfer, or admissibility.</p>
    </div>
</div>

<div class="card mb-3">
    <h2 class="card-header h5">
        <i class="fa-solid fa-ban text-danger me-2"></i>Not Intended for Graduate Students or Graduate-Level Applicants
    </h2>
    <div class="card-body">
        <p>Information for graduate students interested in transfer credit can be found in the Georgia Tech Catalog.</p>
        <p class="mb-0"><a href="http://catalog.gatech.edu/academics/graduate/policies-and-regulations/" target="_blank">Read more<i class="fa-solid fa-external-link fa-fw ms-2"></i></a></p>
    </div>
</div>