<div class="card mb-3">
    <h2 class="card-header h5">
       Legend
    </h2>
    <div class="card-body">
        <h3 class="h6">Phases</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Registrar 1</td>
                    <td class="fw-normal">Pending initial review by the Registrar's Office</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td class="fw-normal">Registrar's Office has sent course to department for review. Please allow 2-4 weeks.</td>
                </tr>
                <tr>
                    <td>Registrar 2</td>
                    <td class="fw-normal">Department has reviewed and Registrar's Office is processing. Please allow 2-4 weeks.</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td class="fw-normal">Student must review notes and submit again. Will return to "Registrar 1" phase.</td>
                </tr>
                <tr>
                    <td>Complete</td>
                    <td class="fw-normal">Evaluation completed.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>