<div id="log-in" class="card mb-3">
    <div class="card-body">
        <div class="text-center py-3 px-5">
            <a href="{{ url('roles') }}">Log in<i class="fa-solid fa-right-to-bracket fa-fw ms-2"></i></a>
        </div>
    </div>
</div>
<!-- #/log-in -->
