<div class="row content">
    <!-- Left side -->
    <div id="left-side" class="col-12 col-lg-3 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                Main Menu
            </h2>
            <div class="card-body">
                <p class="mb-0"><a href="#"><i class="fa-solid fa-cog fa-fw me-2"></i>Manager Controls</a></p>
            </div>
        </div>
    </div>
    <!-- /#left-side -->

    <!-- Right side -->
    <div id="right-side" class="col-12 col-lg-9 d-flex flex-column">
        <div class="card mb-3">
            <div class="card-body">
                {% set role_description = "A manager is a leader in the Registrar's Office who has special permissions." %}
                <p><span class="fw-bold me-2">Role:</span>{{ context|capitalize }}</p>
                <p>{{ role_description }}</p>
            </div>
        </div>
        {% include "fragment/info.html.twig" %}
        {% include "fragment/legend.html.twig" %}
    </div>
    <!-- /#right-side -->
</div>
