<div class="row content">
    <!-- Left side -->
    <div id="left-side" class="col-12 col-lg-3 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                Main Menu
            </h2>
            <div class="card-body">
                <p><a href="#"><i class="fa-solid fa-arrow-up-from-bracket fa-fw me-2"></i>Submit an Evaluation</a></p>
                <p class="mb-0"><a href="{{ url('requester_evaluation_table') }}"><i class="fa-solid fa-table fa-fw me-2"></i>My Evaluations</a></p>
            </div>
        </div>
    </div>
    <!-- /#left-side -->

    <!-- Right side -->
    <div id="right-side" class="col-12 col-lg-9 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                <i class="fa-solid fa-folder-closed text-muted me-2"></i>Requester Role
            </h2>
            <div class="card-body">
                {% set role_description = "A requester is a student or applicant seeking credit at Georgia Tech for coursework completed at another institution." %}
                <p class="mb-0">{{ role_description }}</p>
            </div>
        </div>
        {% include "fragment/info.html.twig" %}
        {% include "fragment/legend.html.twig" %}
    </div>
    <!-- /#right-side -->
</div>
