<div class="sidebar-bottom pt-3">
    <div class="sidebar-heading text-uppercase"><small>Did you know?</small></div>
    <p class="text-muted mb-4">The <a href="https://registrar.gatech.edu/info/transfer-credit-equivalency-tables" target="_blank" class="text-muted text-decoration-underline">transfer equivalency tables</a> list all coursework and institutions that have already been evaluated for transfer credit.</p>
</div>
