<!-- Form 22 (annotate-as-requester) -->
<form id="form-22">
    <div class="card border-primary mb-3">
        <h2 class="card-header bg-primary border-primary h5">
            Write a Note
        </h2>
        <div class="card-body">
            <div class="mb-4">
                <label for="noteText" class="form-label">Note</label>
                <textarea class="form-control" id="noteText" name="noteText" rows="3"></textarea>
            </div>
        </div>
        <div class="card-footer border-top-none p-3">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-outline-secondary ms-2" href=".">Exit without submitting</a>
        </div>
    </div>
</form>
<!-- /#form-22 (annotate-as-requester) -->