<!-- Form 20 (from-complete-to-hold) -->
<form id="form-20">
    <div class="card border-primary mb-3">
        <h2 class="card-header bg-primary border-primary h5">
            Put on Hold
        </h2>
        <div class="card-body">

            <div id="reasonGrp" class="mb-5">
                <h3 class="h6 mb-3">Reasons</h3>
                <div class="mb-4">
                    <label for="holdCourseInput" class="form-label">Add "Hold for Course Input" attribute?</label>
                    <select class="form-select" id="holdCourseInput" name="holdCourseInput">
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="holdTranscript" class="form-label">Add "Hold for Transcript" attribute?</label>
                    <select class="form-select" id="holdTranscript" name="holdTranscript">
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="holdAcceptance" class="form-label">Add "Hold for Acceptance" attribute?</label>
                    <select class="form-select" id="holdAcceptance" name="holdAcceptance">
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    </select>
                </div>
            </div>

            <div id="noteGrp" class="mb-5">
                <h3 class="h6 mb-3">Note</h3>
                <div class="mb-4">
                    <label for="noteYesOrNo" class="form-label">Add a note?</label>
                    <select class="form-select" id="noteYesOrNo" name="noteYesOrNo">
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="visibleToRequester" class="form-label">Shall this note be visible to the requester?</label>
                    <select class="form-select" id="visibleToRequester">
                        <option selected>- Select -</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="noteText" class="form-label">Note</label>
                    <textarea class="form-control" id="noteText" name="noteText" rows="3"></textarea>
                </div>
            </div>

            <p class="mb-4">Use the Submit button to move this evaluation to the Hold phase.</p>
        </div>
        <div class="card-footer border-top-none p-3">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-outline-secondary ms-2" href="../records">Exit without submitting</a>
        </div>
    </div>
</form>
<!-- /#form-20 (from-complete-to-hold) -->
