{% extends 'evaluation/page.html.twig' %}

{% block content %}
    <div class="col-12">
        <div class="row content">
            <!-- Left side -->
            <div id="left-side" class="col-12 col-lg-6 d-flex flex-column">
                {% include "evaluation/fragment/details.html.twig" %}
                {% include "evaluation/fragment/files.html.twig" %}
            </div>
            <!-- #/left-side -->

            <!-- Right side -->
            <div id="right-side" class="col-12 col-lg-6 d-flex flex-column">
                <!-- Form 04 (hide) -->
                {{ form_start(form) }}
                <form id="form-04">
                    <div class="card border-primary mb-3">
                        <h2 class="card-header bg-primary border-primary h5">
                            Hide this evaluation
                        </h2>
                        <div class="card-body">
                            <div id="reasonGrp" class="mb-5">
                                <p class="mb-4">If you hide this evaluation, you will not be able to un-hide it without the help of the application developer.</p>
                                <div class="mb-4">
                                    {{ form_row(form.hideYesOrNo) }}
                                </div>
                            </div>
                            <p class="mb-4">Use the Submit button to move this evaluation to the Hold phase.</p>
                        </div>
                        <div class="card-footer border-top-none p-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-outline-secondary ms-2" href=".">Exit without submitting</a>
                        </div>
                    </div>
                </form>
                {{ form_end(form) }}
                <!-- /#form-04 (hide) -->

                {% include "evaluation/fragment/notes.html.twig" %}
                {% include "evaluation/fragment/trails.html.twig" %}
            </div>
            <!-- #/right-side -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- no scripts -->
{% endblock %}