<h1 style="color:red;">GEORGIA INSTITUTE OF TECHNOLOGY</h1>
<h2 style="color:green;">Registrar's Office</h2>
<hr/>
<br/>
<p style="color:blue;font-size:18px;"><b>This is only a test.</b></p>

<p>Thanks for reading this.</p>

<p><em>Hello, italics.</em></p>