{% extends 'html/base-rmail.html.twig' %}

{% block inner %}

<p>Dear <strong>{{ emailData.recipient.displayName }}</strong></p>

{% set institutionText = '' %}
{% if evaluation.institution is not empty %}
    {% 'at <strong>' . institutionText = evaluation.institution.name . '</strong> ' %}
{% elseif evaluation.institutionOther is not empty %}
    {% 'at <strong>' . institutionText = evaluation.institutionOther . '</strong> ' %}
{% endif %}

<p>Thank you for submitting <strong>{{ emailData.evaluation.courseSubjCode }} {{ emailData.evaluation.courseCrseNum }}</strong> for evaluation on <strong>{{ evaluation.created | date('Y-m-d H:i:s') }}</strong>.</p>

<p>Our next steps are to review your course and attached information for content. After initial review, we will request an evaluation on your behalf from the appropriate Georgia Tech faculty member in that area of study. Once they have conducted their review and appropriate assignment of credit, our office will conduct a final review and make all necessary updates to your Georgia Tech record, as well as notifications to pertinent parties. During this process you may receive emails requesting additional information or clarification. Please note this process can take several weeks. An estimated evaluation time is 20 business days. The process may take longer during peak periods. You may login to the <a href="https://transfercredit.gatech.edu">Transfer Credit Evaluation</a> web app at any time to view the status of pending evaluations.</p>

<p>Thank you,</p>

<p>
Transfer Credit Eavluation<br>
Registrar's Office<br>
Georgia Tech
</p>

{% endblock %}